#header_table {
  background-color: darkgray;
}
#head_user {
  color: black;
}

#tabla {
  text-align: center;
  max-width: 100%;
}

#div_table {
  overflow: auto;
  max-height: 493px;
  margin-top: 20px;
}

#header_table > tr > th,
#thead_tramites > tr > th {
  /* font-weight: bolder; */
  position: sticky;
  top: 0;
}
tbody > tr:hover {
  background-color: #02315f;
  color: white;
}
#btn_crud {
  display: none;
}
.span_filter {
  display: block;
  text-align: center;
}

#table_viewMore {
  margin: 0 auto;
  text-align: center;
}

#btn_crud {
  background-color: #02315f;
  padding: 50px;
  text-align: center;
  margin: 20px auto;
  width: 215px;
  height: 410px;
}

#btn_crud > button {
  margin-bottom: 10px;
  margin-top: 10px;
}

#text_whereIam {
  color: white;
  font-size: 2vw;
}

.top_nav {
  text-align: end;
  margin-top: 72px;
}

.navbar-nav {
  margin-right: 0px !important;
  padding-right: 50px;
}
